<!DOCTYPE html>
<html>

<head>
    <title>
        Teachers Reports
    </title>
</head>

<body>
    <h1>Teachers report : 2020-2023</h1>
    <table border="2" style="text-align: center;">
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>subject</th>
            <th>exp</th>
            <th>Contact</th>
            <th>Actions</th>
        </tr>

        {% for s in teachersmodel_list %}
        <tr>
            <td><a href="/ad/td/{{s.id}}">{{s.id}}</a></td>
            <td>{{s.name}}</td>
            <td>{{s.subject}}</td>
            <td>{{s.exp}}</td>
            <td>{{s.contact}}</td>
            <td><a href="/ad/removeteacher/{{s.id}}">Delete</a> &nbsp;&nbsp;&nbsp;
                <a href="/ad/updateteacher/{{s.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>