{% load static %}
<html>

<head>
    <title>
        Homepage
    </title>
    <link rel="stylesheet" href="{%static 'stylesheet/style2.css'%}" />
</head>

<body>
    <br>
    <br>
    <hr>
    <br>
    <h2>Welcome to School Application Project</h2><br>
    <hr>
    <br>
    <br>
    <div>
        <h1>Admissions</h1><br><br>
        <a href="/ad/newadm"><button type="button">Newadmission</button></a><br><br>
        <a href="/ad/admreport"><button type="button">Admissionreport</button></a>
    </div>
    <div>
        <h1>Finance</h1><br><br>
        <a href="/fin/feecoll"><button type="button">Feecollection</button></a><br><br>
        <a href="/fin/Duereport"><button type="button">Feeduereport</button></a><br><br>
        <a href="/fin/feecollReport"><button type="button">Feecollectionreport</button></a>
    </div>
</body>

</html>